.clearfix {
  *zoom: 1;
}
.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.overflow-clearfix {
  *zoom: 1;
  overflow: hidden;
}
.overflow-clearfix:before, .overflow-clearfix:after {
  content: " ";
  display: table;
}
.overflow-clearfix:after {
  clear: both;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden] {
  display: none;
}

html,
input,
select,
textarea {
  font-family: "Droid Serif", Georgia, serif;
}

body {
  margin: 0;
}

a:focus {
  outline: thin dotted;
}

a:hover,
a:active {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

blockquote {
  margin: 0.33333em 3em;
}

dfn {
  font-style: italic;
}

mark {
  background: #ff0;
  color: #000;
}

p,
pre {
  margin: 0.33333em 0;
}

pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
  line-height: 1.33333em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

q {
  quotes: none;
}

q:before,
q:after {
  content: '';
  content: none;
}

small {
  font-size: 75%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

dl,
menu,
ol,
ul {
  margin: 0.33333em 0;
}

dd {
  margin: 0 0 0 3em;
}

menu,
ol,
ul {
  padding: 0 0 0 3em;
}

nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 0;
}

form {
  margin: 0;
}

fieldset {
  border-color: #b3b3b3;
  margin: 0.66667em 0;
  border-top-width: 0.05556em;
  border-top-style: solid;
  padding-top: 0.61111em;
  border-bottom-width: 0.05556em;
  border-bottom-style: solid;
  padding-bottom: 0.61111em;
  border-left-width: 0.05556em;
  border-left-style: solid;
  padding-left: 0.61111em;
  border-right-width: 0.05556em;
  border-right-style: solid;
  padding-right: 0.61111em;
}

legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  vertical-align: middle;
}

button,
input {
  line-height: normal;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  overflow: visible;
}

button[disabled],
input[disabled] {
  cursor: default;
}

input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
  vertical-align: top;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* html {
  font-size: 112.5%;
}

html {
  font-size: 18px;
  line-height: 1.55556em;
}

html,
input {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  color: #333333;
}

div,
section,
header,
footer,
aside,
figure {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/polyfill/boxsizing.htc");
}

h1 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.94444em;
  line-height: 1.2em;
  margin-top: 0.34286em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.34286em;
}

h2 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.77778em;
  line-height: 1.125em;
  margin-top: 0.375em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.375em;
}

h3 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.33333em;
  line-height: 1.25em;
  margin-top: 0.5em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0.5em;
}

h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.33333em;
  margin-top: 1.33333em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

h5 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 0.94444em;
  line-height: 1.41176em;
  margin-top: 1.41176em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

h6 {
  letter-spacing: .03em;
  text-transform: uppercase;
  font-size: 0.66667em;
  line-height: 1.5em;
  margin-top: 2em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin-bottom: 0em;
}

a {
  color: #999999;
  text-decoration: none;
}
a:hover {
  color: gray;
}
a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 0.66667em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

blockquote {
  margin: 0.66667em 0 0.66667em 3em;
  font-style: italic;
}

img {
  max-width: 100%;
  height: auto;
}

dl {
  margin-bottom: 1em;
}

dt {
  font-weight: bold;
}

dd {
  margin-left: 1em;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  -webkit-box-shadow: 0 0 5px #999999;
  -moz-box-shadow: 0 0 5px #999999;
  box-shadow: 0 0 5px #999999;
}

label {
  display: block;
  margin-bottom: 0.35294em;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 0.94444em;
  line-height: 1.41176em;
}
label.option {
  display: inline;
  font-weight: normal;
}

textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  margin-bottom: 0.33333em;
  padding: 0.16667em;
  max-width: 100%;
  background-color: white;
  border-color: #999999;
  color: #333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-width: 0.05556em;
  border-style: solid;
  padding: 0.11111em;
}
textarea:focus,
input[type="date"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="email"]:focus,
input[type="month"]:focus,
input[type="number"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="text"]:focus,
input[type="time"]:focus,
input[type="url"]:focus,
input[type="week"]:focus {
  border-color: #999999;
}

input[type="file"] {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="submit"],
button {
  border-style: solid;
  border-width: 1px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.14286em 13px;
  font-weight: bold;
  font-size: 1em;
  line-height: 1.33333em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: #999999;
  border-color: blend-overlay(rgba(0, 0, 0, 0.25), #999999);
  color: #efefef;
}
input[type="submit"]:hover,
button:hover {
  text-decoration: none;
}
input[type="submit"]:hover,
button:hover {
  color: white;
}
input[type="submit"]:active,
button:active {
  background-color: blend-overlay(rgba(0, 0, 0, 0.1), #999999);
}

select {
  margin-bottom: 0.35294em;
  font-size: 1em;
  line-height: 1.33333em;
}

table {
  margin-bottom: 0.66667em;
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  text-align: left;
}
thead th {
  vertical-align: bottom;
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid #b3b3b3;
}

caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

tbody + tbody {
  border-top: 2px solid #b3b3b3;
}

tr.odd {
  background-color: white;
}

tr.even {
  background-color: transparent;
}

.article {
  margin-bottom: 1.33333em;
}

.article-content {
  *zoom: 1;
}
.article-content:before, .article-content:after {
  content: " ";
  display: table;
}
.article-content:after {
  clear: both;
}

.article-title {
  margin-bottom: 0.75em;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.33333em;
  line-height: 1.25em;
}

.js .dropdown .dropdown-content {
  display: none;
  -webkit-transition-property: bottom;
  -moz-transition-property: bottom;
  -o-transition-property: bottom;
  transition-property: bottom;
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}
.js .dropdown.is-expanded .dropdown-content {
  display: block;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
}

.dropdown-toggle {
  position: relative;
  width: 100%;
  margin: 0;
  cursor: pointer;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/polyfill/boxsizing.htc");
}

.dropdown-content {
  padding: 0;
}

@media (min-width: 600px) {
  .header .dropdown-content {
    display: block !important;
  }
}

.image-frame > img,
.image-frame > a > img {
  padding: 4px;
  background-color: white;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/polyfill/boxsizing.htc");
  -webkit-box-shadow: rgba(51, 51, 51, 0.6) 0 1px 3px;
  -moz-box-shadow: rgba(51, 51, 51, 0.6) 0 1px 3px;
  box-shadow: rgba(51, 51, 51, 0.6) 0 1px 3px;
}

.image-left {
  float: left;
  margin: 0 1em 0.33333em 0;
}

.image-right {
  float: right;
  margin: 0 0 0.33333em 1em;
}

.link--button {
  border-style: solid;
  border-width: 1px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.28571em 18px;
  font-weight: bold;
  font-size: 1.16667em;
  line-height: 1.42857em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: #999999;
  border-color: blend-overlay(rgba(0, 0, 0, 0.25), #999999);
  color: #efefef;
}
.link--button:hover {
  text-decoration: none;
}
.link--button:hover {
  color: white;
}
.link--button:active {
  background-color: blend-overlay(rgba(0, 0, 0, 0.1), #999999);
}

.link--button-small {
  border-style: solid;
  border-width: 1px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  padding: 0.33333em 0.66667em;
  font-weight: bold;
  font-size: 0.66667em;
  line-height: 1.5em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  background-color: #999999;
  border-color: blend-overlay(rgba(0, 0, 0, 0.25), #999999);
  color: #efefef;
}
.link--button-small:hover {
  text-decoration: none;
}
.link--button-small:hover {
  color: white;
}
.link--button-small:active {
  background-color: blend-overlay(rgba(0, 0, 0, 0.1), #999999);
}

.link--pill {
  display: block;
  padding: 0.33333em 0.66667em;
  color: #999999;
  background: #b3b3b3;
  font-weight: bold;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/polyfill/boxsizing.htc");
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
  font-size: 0.94444em;
  line-height: 1.41176em;
}
.active.link--pill {
  color: white;
  background: #333333;
}

.item-list > ul, .item-list--inline > ul, .item-list--flex > ul {
  margin: 0;
  padding: 0;
}
.item-list > ul > li, .item-list--inline > ul > li, .item-list--flex > ul > li {
  list-style: none;
}

.item-list .list > .list-item {
  margin-bottom: 1.33333em;
}

.item-list--inline > .list > .list-item, .item-list--flex > .list > .list-item {
  margin: 0;
  padding: 0 0.5em;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.item-list--inline > .list > .list-item:last-child, .item-list--flex > .list > .list-item:last-child {
  padding-right: 0;
}

.item-list--flex {
  *zoom: 1;
  margin-right: -0.5em;
  margin-left: -0.5em;
}
.item-list--flex:before, .item-list--flex:after {
  content: " ";
  display: table;
}
.item-list--flex:after {
  clear: both;
}
.item-list--flex > .list {
  width: 100%;
  float: left;
  padding: 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  *box-sizing: content-box;
  *behavior: url("/polyfill/boxsizing.htc");
}
.item-list--flex > .list > .list-item {
  float: left;
  padding: 0.5em;
  width: 20%;
  margin-bottom: 0em;
}

.meta {
  font-size: 0.94444em;
  line-height: 1.41176em;
}

.nav-main {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
}

.nav-main > .nav-item, .nav-footer > .nav-item {
  display: inline;
}
.nav-main > .nav-item > .nav-link, .nav-footer > .nav-item > .nav-link {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.nav-main {
  margin: 0;
}
.nav-main > .nav-item {
  padding: 0.16667em 0;
}
.nav-main > .nav-item.first {
  border: none;
}
.nav-main > .nav-item > .nav-link {
  display: block;
  padding: 0.5em 0.5em 0.5em 1.75em;
  color: white;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-transform: uppercase;
}
.nav-main > .nav-item > .nav-link:hover {
  color: #999999;
  background-color: #b3b3b3;
  text-decoration: none;
}
.nav-main > .nav-item > .nav-link:active, .nav-main > .nav-item > .nav-link.active, .nav-main > .nav-item > .nav-link.active-trail {
  background-color: #b3b3b3;
}
@media (min-width: 600px) {
  .nav-main > .nav-item > .nav-link {
    margin-top: 2px;
    margin-bottom: 1px;
    padding: 0.58333em 0.75em;
  }
}
@media (min-width: 768px) {
  .nav-main > .nav-item {
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    padding: 0.33333em 0;
    border: none;
    text-align: center;
  }
  .nav-main > .nav-item > .nav-link {
    font-size: 0.77778em;
    line-height: 1.28571em;
    border: none !important;
  }
}

.nav-footer .nav-link {
  font-size: 0.66667em;
  line-height: 1.5em;
}

.pager {
  margin-bottom: 0.66667em;
  padding-left: 0;
  text-align: center;
  list-style: none;
}

.pager-first,
.pager-previous,
.pager-item,
.pager-next,
.pager-last {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
.pager-first > a,
.pager-previous > a,
.pager-item > a,
.pager-next > a,
.pager-last > a {
  margin: 0.42857em 2px;
  padding: 2px 8px;
  color: #333333;
  background-color: #b3b3b3;
  font-size: 0.77778em;
  line-height: 1.28571em;
  -webkit-border-radius: 0.25em;
  -moz-border-radius: 0.25em;
  border-radius: 0.25em;
}
.pager-first > a:hover,
.pager-previous > a:hover,
.pager-item > a:hover,
.pager-next > a:hover,
.pager-last > a:hover {
  color: white;
  background-color: #333333;
  text-decoration: none;
}

.pager-ellipsis {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}

.pager-current {
  margin: 0.42857em 2px;
  padding: 0 8px;
  color: white;
  background-color: #b3b3b3;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  font-size: 0.77778em;
  line-height: 1.28571em;
}
