//
// @file
// Default tag styles.
// ---------------------------------------------------------------------------
// Establish Vertical rhythm.
* html {
  font-size: 100% * $base-font-size / $browser-default-font-size;
}

html {
  font-size: $base-font-size;
  @include adjust-leading-to(28/6);
}

html,
input {
  font-family: $ff-display;
}

body {
  color: $clr-text;
}

div,
section,
header,
footer,
aside,
figure {
  @include border-box;
}

//----------------------------------------------------------------------------
// Headings.
h1 {
  font-family: $ff-heading;
  @include adjust-font-size-to($fs-h1);
  @include rhythm(2, 0, 0, 2, $fs-h1);
}

h2 {
  font-family: $ff-heading;
  @include adjust-font-size-to($fs-h2);
  @include rhythm(2, 0, 0, 2, $fs-h2);
}

h3 {
  font-family: $ff-heading;
  @include adjust-font-size-to($fs-h3);
  @include rhythm(2, 0, 0, 2, $fs-h3);
}

h4 {
  font-family: $ff-heading;
  font-weight: normal;
  @include adjust-font-size-to($fs-h4);
  @include rhythm(4, 0, 0, 0, $fs-h4);
}

h5 {
  font-family: $ff-heading;
  @include adjust-font-size-to($fs-h5);
  @include rhythm(4, 0, 0, 0, $fs-h5);
}

h6 {
  letter-spacing: .03em;
  text-transform: uppercase;
  @include adjust-font-size-to($fs-h6);
  @include rhythm(4, 0, 0, 0, $fs-h6);
}

//----------------------------------------------------------------------------
// Links.
a {
  @include link-colors($clr-link, darken($clr-link, 10%));
  @include hover-link;
}

//----------------------------------------------------------------------------
// Copy.
p {
  margin: 0 0 rhythm(2);
  font-family: $ff-display;
}

blockquote {
  margin: rhythm(2) 0 rhythm(2) $indent-amount;
  font-style: italic;
}

//----------------------------------------------------------------------------
// Images.
img {
  max-width: 100%;
  height: auto;
}

//----------------------------------------------------------------------------
// Definition lists.
dl {
  margin-bottom: rhythm(3);
}

dt {
  font-weight: bold;
}

dd {
  margin-left: $w-gutter;
}

button:focus,
input:focus,
select:focus,
textarea:focus {
  @include box-shadow(0 0 5px $gray);
}

//----------------------------------------------------------------------------
// Form labels.
label {
  display: block;
  margin-bottom: rhythm(1, $fs-s);
  font-family: $ff-sans;
  font-weight: bold;
  @include adjust-font-size-to($fs-s);

  // Labels on checkboxes and radios.
  &.option {
    display: inline;
    font-weight: normal;
  }
}

//----------------------------------------------------------------------------
// Forms.
textarea,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
  margin-bottom: rhythm(1);
  padding: rhythm(.5);
  max-width: 100%;
  background-color: $white;
  border-color: $gray;
  color: $gray-dark;
  @include border-radius(3px);
  @include box-sizing(border-box);
  @include rhythm-borders(1px, .5);

  &:focus {
    border-color: $gray;
  }
}

input[type="file"] {
  font-family: $ff-sans;
}

input[type="submit"],
button {
  @include button;
  @include button--medium;
  @include button--primary;
}

select {
  margin-bottom: rhythm(1, $fs-s);
  @include adjust-font-size-to($fs-m);
}

// ---------------------------------------------------------------------------
// Tables.
table {
  margin-bottom: rhythm(2);
  max-width: 100%;
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
}

thead {
  text-align: left;

  th {
    vertical-align: bottom;
  }
}

th,
td {
  padding: 8px;
  vertical-align: top;
  border-top: 1px solid $clr-table-border;
}

// Remove top border from thead by default.
caption + thead tr:first-child th,
caption + thead tr:first-child td,
colgroup + thead tr:first-child th,
colgroup + thead tr:first-child td,
thead:first-child tr:first-child th,
thead:first-child tr:first-child td {
  border-top: 0;
}

// Account for multiple tbody instances.
tbody + tbody {
  border-top: 2px solid $clr-table-border;
}

tr.odd  { background-color: $clr-table-odd; }
tr.even { background-color: $clr-table-even; }
